.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.swipeButtons__replay {
  color: #f5b748 !important;
}
.swipeButtons__close {
  color: #ec5e6f !important;
}
.swipeButtons__star {
  color: #62b4f9 !important;
}
.swipeButtons__favourite {
  color: #76e2b3 !important;
}
.swipeButtons__flash {
  color: #915dd1 !important;
}
