.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f9f9f9;
}
a {
  color: gray;
}
.header__logo {
  height: 30px;
}
.header__icon {
  padding: 20px;
}
